.sortable_list_wrapper{
  display: flex;
  flex-direction: column;
  padding: 10px;
  .dragable_list_item_container{
    border: 1px solid rgb(92, 92, 92);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: 100%;
    height: 100px;
  }
}
.disabled{
  pointer-events: none;
}