.label-style{
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px !important;
}
.invalid-tooltip {
  ::ng-deep {
    color: red;
    background: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
}
