.label-style{
  font-weight: 500;
  font-size: 14px;
}
.invalid-tooltip {
  ::ng-deep {
    color: red;
    background: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
}

input{
  background-color: white !important;
}

.invalid {
  margin-bottom: 20px !important;
}
