.card {
  padding: 0 20px;
}

.card-header {
  border-bottom: 1px solid #e0e0e0;
}

.card-footer {
  border-top: 1px solid #e0e0e0;
}

.loader{
  width: 100px;
  height: 100px;
  margin: 50px auto;
}
