<div class="form-group">
  <label class="label-style">
      <span [ngStyle]="{'color': invalid && touched? 'red' : !invalid && touched? 'green' : 'black'}">{{label}}</span>
      <span *ngIf="requierd" style="color: red;"> *</span>
  </label>
  <fieldset class="form-group position-relative">
      <textarea
          appNoStartOnWhiteSpace
          #input
          class="form-control"
          [placeholder]="placeholder"
          [disabled]="disabled"
          [value]="value"
          [ngClass]="{ 'is-invalid': invalid && touched, 'is-valid': !invalid && touched }"
      >
      </textarea>
      <span class="additionalInfo">{{additionalInfo}}</span>
      <div *ngIf="invalid && touched" class="invalid-tooltip">{{errorMessage}}</div>
  </fieldset>
  </div>
