.additionalInfo{
  color: #6784D8;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
}
.label-style{
font-weight: 500;
}

.invalid-tooltip {
  ::ng-deep {
    color: red;
    background: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
}

textarea{
  background-color: white !important;
}
