.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  .left-side {
    display: flex;
    align-items: center;
    gap: 24px;
    .filter-toggle-button {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 6px 12px;
      // background-color: rgb(209, 209, 209);
      background-color: rgb(221, 221, 221);
      color: #464e5f;
      font-family: Montserrat;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      border: none;
      border-radius: 4px;
    }
  }
  .right-side {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .list-item {
      text-align: center !important;
      &:active {
        background-color: white !important;
        color: grey;
      }
    }
    .sorting-button {
      min-width: 85px;
      height: 40px;
      border-radius: 4px;
      border: 1px solid #e5eaee;
      background: #fff;
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}

.dynamic-filters-wrapper {
  display: none;
  padding: 10px;
  // background-color: #ebebebd7;
  // box-shadow: -8px 8px 14px 0 rgba(25, 42, 70, 0.11);
  background-color: #f7f7f7d7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .filters-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    grid-gap: 5px;
  }
}
.ready {
  display: block;
}
@media only screen and (max-width: 874px) {
  .dynamic-filters-wrapper {
    .filters-container {
      display: block;
    }
  }
}

.margin_3 {
  margin-bottom: 3px;
}
