.disable{
    pointer-events: none;
}

.total_count_block{
  width: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; flex-wrap: wrap;
  .total_count_input{
    width: 200px;
  }
  .couints_info{
    padding-top: 5px; min-width: max-content;
  }
}

.activation_date {
  width: 300px;
}
