<div class="checkbox form-group">
  <input
      type="checkbox"
      [id]="'id' + label"
      [checked]="value"
      [disabled]="disabled"
      (change)="setValue($event)"
  >
  <label class="label-style cursor-pointer" [for]="'id' + label">
      <span [ngStyle]="{'color': invalid && touched? 'red' : !invalid && touched? 'green' : 'black'}">{{label}}</span>
      <span *ngIf="requierd" style="color: red;"> *</span>
  </label>
  <div *ngIf="invalid && touched" class="invalid-tooltip">{{errorMessage}}</div>
</div>
