<div class="form-group">
  <label class="label-style">
      <span [ngStyle]="{'color': invalid && touched? 'red' : !invalid && touched? 'green' : 'black'}">{{label}}</span>
      <span *ngIf="requierd" style="color: red;"> *</span>
  </label>
  <fieldset class="form-group position-relative">
      <div class="password_input_container" [ngClass]="{ 'invalid': invalid && touched, 'valid': !invalid && touched }">
          <input #input type="{{ isPassVisible ? 'text' : 'password' }}" class="form-control" autocomplete="new-password"
              [placeholder]="placeholder" [disabled]="disabled" [value]="value"
              >
          <div class="eye_container">
            <i [ngClass]="{'ft-eye-off': !isPassVisible, 'ft-eye': isPassVisible}" (click)="isPassVisible=!isPassVisible"></i>
          </div>
      </div>
      <div *ngIf="invalid && touched" class="error_message">{{errorMessage}}</div>
  </fieldset>
</div>
