.label-style {
  font-weight: 500;
}

.password_input_container {
  display: grid;
  grid-template-columns: 25fr 1fr;
  align-items: center;
  border: 1px solid #E0E0E0;
  border-radius: 0.35rem;

  input {
      border: none;
      background-color: white;
  }

  .eye_container{
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      cursor: pointer;
    }
  }

}

.invalid {
  border: 1px solid red;
}

.valid {
  border: 1px solid green;
}

.error_message {
  color: red;
  background: none;
  font-size: 12px;
  margin: 0;
}
